.st {
  text-align: center;
}

.st__body {
  text-align: center;
  position: center;
}

.st__selector-panel {
  min-height: 29px;
  padding-top: 29px;
  border-top: 2px solid black;
  position: center;
}

.st__group-selector-panel-button{
  margin-left: auto;
  margin-right: 0;
  text-align: right;
}

.st__selector-panel-button {
  padding-bottom: 10px;
  border: none;
  background-color: white;
  font-family: "Courier New";
  margin-right: 10px;
 }

.st__selector-panel-button:active,
.st__selector-panel-button:focus,
.st__selector-panel-button:checked
{
  outline: none;
  color: #30b483 !important;
}

.st__selected-panel_button {
  float: left;
  margin-left: auto !important;
  margin-right: auto;
  width: 50%;
}

.st__brief-info {
  font-size: 14px;
  margin-right: 0;
  font-family: "Courier New";
}

.st__brief-info p {
  margin-bottom: 0 !important;
}

.st__list {
 background-color: #e9fff7!important;
 height: 100vh;
}

.st_list-size {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.st__group_brief-info {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.st__group_brief-info p {
  margin-bottom: 0 !important;
  margin-right: auto;
  margin-left: 0;
}

.st__group_filter {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.st__return-button {
  margin-bottom: 10px;
  border: none;
  background-color: white;
  font-family: "Courier New";
}

.st_selected-location {
  max-width: 80%;
  float: left;
  margin-left: auto;
  margin-right: auto;
}
