.Station-list {
  text-align: center !important;
  margin-left: auto !important;
  margin-right: auto;
  width: 65%;
}

.Station-list__body {
  text-align: center;
  max-width: 70%;
  position: center;
}

.Station-list__body__table-line {
  height: 100px !important;
  font-family: "Courier New";
}

.Station-list__body__table td {
  table-layout: fixed;
  width: 200px;
}
.Station-list__body__table-into td {
  table-layout: fixed;
  width: 10px;
}

.Station-list__body__table-line-into {
  height: 50px !important;
}
