.sr {

}

.sr a {
  margin-bottom: 10px;
  color: black;
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  font-family: "Courier New";
}

.sr_button-beck a,
.sr_button-beck {
  margin-bottom: 10px;
  margin-left: 10%;
  margin-right: auto;
  text-align: left;
}

.sr__head {
  border-top: 2px solid black;
  margin-left: auto;
  margin-right: auto;
}

.sr__body {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin-left: 0 !important;
}

.sr_ticket {
  font-family: "Courier New", serif;
  min-width: 22%;
  height: 160px;
  margin: 5px;
  background-color: #e9fff7;
  font-size: 15px;
}

.sr_ticket p {
  font-family: "Courier New", serif;
  margin: 4px;
}

.sr_ticket_info {
  margin-top: 10px !important;
  font-size: 40px;
  font-family: "Courier New", serif;
  text-align: center;
  font-weight:bold;
}

.sr_ticket_info-name {
  font-size: 20px;
  font-family: "Courier New", serif;
  text-align: center;
  font-weight:bold;
}
.sr_map {
  min-width: 70%;
  max-height: 100px;
}
.sr_map-addr {
  max-height: 100px;
}